.button {
  /* -fx-background-color: #007bff; */
  -fx-background-color: linear-gradient(to right, #87ceeb, #1e90ff);
  -fx-text-fill: #fff;
  -fx-font-size: 13px;
  -fx-font-weight: bold;
  -fx-padding: 10px;
  -fx-background-radius: 15px;
  -fx-effect: innershadow(gaussian, rgba(0, 0, 0, 0.5), 1, 1, 0, 0);
  -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.5), 10, 0.5, 0, 0);
}

.button:hover {
  /* -fx-background-color: #0056b3; */
  -fx-background-color: linear-gradient(to right, #4fa04f, #da70d6);
  -fx-effect: dropshadow(three-pass-box, #006400, 10, 0.5, 0, 0);
}

.menu-button {
  -fx-background-color: linear-gradient(to right, #87ceeb, #1e90ff);
  -fx-text-fill: #fff;
  -fx-font-size: 13px;
  -fx-font-weight: bold;
  -fx-padding: 10px;
  -fx-background-radius: 15px;
  -fx-effect: innershadow(gaussian, rgba(0, 0, 0, 0.5), 1, 1, 0, 0);
  -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.5), 10, 0.5, 0, 0);
}

.menu-button:hover {
  -fx-background-color: linear-gradient(to right, #4fa04f, #da70d6);
  -fx-effect: dropshadow(three-pass-box, #006400, 10, 0.5, 0, 0);
}

.menu-button .arrow {
  -fx-background-color: #baaaaa;
}

.menu-button .label {
  -fx-padding: 0 5px;
}

.menu-button .text {
  -fx-fill: #fff;
}

.menu-button .menu-item .text {
  -fx-fill: #000;
}

#borderpane {
  -fx-background-color: #b2beb5;
}

#vbox {
  /* -fx-background-color: #add8e6; */
  -fx-background-color: linear-gradient(to right, #d2b48c, #00ff00);
  -fx-effect: dropshadow(three-pass-box, #000000, 10, 0.5, 0, 0);
}
